<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% block styles %} {{ bootstrap.load_css() }} {% endblock %}

    <title>HTML Tables</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['first_name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

</body>

</html>