<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
            filename='/style.css') }}" />
    <title>Playground</title>
</head>

<body>
    <h1 id="phrase">{{phrase}}</h1>
    {% if phrase == "Welcome!" and color == undefined %} {% for x in range(0,times): %}
    <div id="blue_block"></div>
    {% endfor %} {% else %} {% for x in range(0,times): %}
    <div id="blue_block" data-color="{{color}}"></div>
    {% endfor %} {% endif %}
</body>

</html>