<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% block styles %} {{ bootstrap.load_css() }} {% endblock %}

    <title>User Info</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container mt-3" style="text-align: center; width: 80vw;">
        <h3>Thanks {{ tempFirstName }}!</h3>
        <p>Name: {{ tempLastName }}, {{ tempFirstName }}</p>
        <p>Email: {{ tempEmail }}</p>
        <p>Languages: {{ tempLang }}</p>
        <p>Specialization: {{ tempSpec }}</p>
        <p>Bio: {{ tempBio }}</p>
    </div>

    {% endblock %}
</body>

</html>