<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% block styles %} {{ bootstrap.load_css() }} {% endblock %}

    <title>The Great Number Game</title>
    {% endblock %}
</head>

<body class="h-100" style="background-color: black;">

    {% block content %} {% if session['guestType'] == 'newGuest' %}

    <div class="container h-100" style="text-align: center; width: 80vw;">
        <div class="row h-100 justify-content-center align-items-center" style="background-color: rgb(221, 87, 181);">
            <div class="col-10 col-md-8 col-lg-6" style="background-color: white;">
                <form method='POST' class="mt-3">
                    <h2>Welcome, are you ready for the challenge?</h2>
                    <p>Go ahead and pick a number between 1 and 100.</p>
                    <div>
                        <input type="text" class="form-control" name="guess" id="guess" placeholder="Enter a Number">
                    </div>
                    <button formaction="/leaderboard" type="submit" class="mt-3 mb-3 btn btn-outline-primary">Leaderboard</button>
                    <button formaction="/guess" type="submit" class="mt-3 mb-3 btn btn-outline-primary">Guess</button>
                </form>
            </div>
        </div>
    </div>

    {% elif session['guestType'] == 'tooLow' %}

    <div class="container h-100" style="text-align: center; width: 80vw;">
        <div class="row h-100 justify-content-center align-items-center" style="background-color: red;">
            <div class="col-10 col-md-8 col-lg-6" style="background-color: white;">
                <form method='POST' class="mt-3">
                    <h2>Ah close, but not quite. {{ session['userGuess'] }} is <span style=" color:red;">too low!</span></h2>
                    <p>Pick another number between 1 and 100.</p>
                    <div>
                        <input type="text" class="form-control" name="guess" id="guess" placeholder="Enter a Number">
                    </div>
                    <button formaction="/guess" type="submit" class="mt-3 mb-3 btn btn-outline-primary">Guess</button>
                    <button formaction="/destroy" type="submit" class="mt-3 mb-3 btn btn-outline-danger">Reset</button>
                </form>
            </div>
        </div>
    </div>

    {% elif session['guestType'] == 'tooHigh' %}

    <div class="container h-100" style="text-align: center; width: 80vw;">
        <div class="row h-100 justify-content-center align-items-center" style="background-color: red;">
            <div class="col-10 col-md-8 col-lg-6" style="background-color: white;">
                <form method='POST' class="mt-3">
                    <h2>That ain't it cheif, {{ session['userGuess'] }} is <span style=" color:red ">too high!</span></h2>
                    <p>Pick another number between 1 and 100.</p>
                    <div>
                        <input type="text" class="form-control" name="guess" id="guess" placeholder="Enter a Number">
                    </div>
                    <button formaction="/guess" type="submit" class="mt-3 mb-3 btn btn-outline-primary">Guess</button>
                    <button formaction="/destroy" type="submit" class="mt-3 mb-3 btn btn-outline-danger">Reset</button>
                </form>
            </div>
        </div>
    </div>

    {% elif session['guestType'] == 'correct' %}

    <div class="container h-100" style="text-align: center; width: 80vw;">
        <div class="row h-100 justify-content-center align-items-center" style="background-color: green;">
            <div class="col-10 col-md-8 col-lg-6 " style="background-color: white;">
                <form method='POST' class="mt-3">
                    <h3>Congratulations, {{ session['randomNumber'] }} was <span style=" color: green;">correct, and it only took you {{ session['counter'] }} attempts!?</span></h3>
                    <h3>Save name in Hall of Fame?</h3>
                    <div>
                        <input type="text" class="form-control" name="user" id="user" placeholder="Enter Your Name">
                    </div>
                    <button formaction="/destroy" type="submit" class="mt-3 mb-3 btn btn-outline-primary">Home</button>
                    <button formaction="/save" type="submit" class="mt-3 mb-3 btn btn-outline-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

    {% elif session['guestType'] == 'gameOver' %}

    <div class="container h-100" style="text-align: center; width: 80vw;">
        <div class="row h-100 justify-content-center align-items-center" style="background-color: red;">
            <div class="col-10 col-md-8 col-lg-6 " style="background-color: white;">
                <form method='POST' class="mt-3">
                    <h2>Ah Better luck next time, 5 is the maximum number of attempts.</h2>
                    <button formaction="/destroy" type="submit" class="mt-3 mb-3 btn btn-outline-danger">Try Again</button>
                </form>
            </div>
        </div>
    </div>

    {% elif session['guestType'] == 'winners' %}

    <div class="container h-100" style="text-align: center; width: 80vw;">
        <div class="row h-100 justify-content-center align-items-center" style="background-color: rgb(221, 87, 181);">
            <div class="col-10 col-md-8 col-lg-6 " style="background-color: white;">
                <form method='POST' class="mt-3">
                    <h1>Hall of fame!</h1>
                    <table class="mt-3 table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in session['winnerList'] %}
                            <tr>
                                <td>{{ player['userName'] }}</td>
                                <td>{{ player['score'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button formaction="/destroy" type="submit" class="mt-3 mb-3 btn btn-outline-primary">Back</button>
                    <button formaction="/reset" type="submit" class="mt-3 mb-3 btn btn-outline-danger">Reset</button>
                </form>
            </div>
        </div>
    </div>

    {% else %}

    <h2>These are not the droids you are looking for.</h2>

    {% endif %} {% endblock %}

</body>

</html>